.wrap {
  width: 1000px;
}

header {
  margin-bottom: 100px;
  color: #193169;
}

h1 {
  font-size: 20px;
  margin-left: 10px;
}

.flex {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

ul li {
  list-style: none;
  margin: 0 10px ;
  font-weight: bold;
  font-size: 14px;
}

.main {
  position: relative;
}

.image {
  width: 50%;
  margin: 0 0 0 auto;
  position: block;
  z-index: 10;

}

.image img {
  width: 100%;
}

.contents {
  position: absolute;
  top: 45%;
  z-index: -1;
}

h2 {
  font-size: 50px;
  font-weight: lighter;
}

.box {
  width: 750px;
  height: 150px;
  background-color: #193169;
  margin-top: -55px;
}